<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/logohuerta.ico">
        <link rel="stylesheet" href="estilo.css">
        <title>Contacto</title>
    </head>
    <body>
        <header th:fragment="header">

            <div class="topnav" >
                <div class="logo">
                    <img src="../img/logohuerta.png" alt="AgroHuertas">
                </div>
                <div class="menu">
                    <ul >
                        <li><a th:href="@{/inicio}">Inicio</a></li>
                        <li><a href="#about">Nosotros</a></li>
                        <li><a href="/logout">Cerrar Sesion</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a href="/admin/lista">Usuarios registrados</a></li>

                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div>
                <img src="../img/logohuerta.jpg" >
            </div>
        </main>
        <div>TODO write content</div>
    </body>
</html>
