<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Carousel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </header>
   <div class="container">
    <div class="row">
        <div class="col-2">Contenido1
            <img src="/img/smog.webp" alt="">
        </div>
        <div class="col-9">
            <h3>Photochemical Ozone Creation Potential</h3>
            <p>If AP >= 0.5., This indicates that these carbonyl compounds and their atmospheric degradation products could be involved in harmful "acid rain" events that occur in polluted atmospheres, creating many consequences such as deterioration of human health, corrosion of materials, acidification of waters with subsequent decreases in fish populations, acidification of soils and reduction of forests (Huang, 1992)</p>
            <p class="card-text"><small class="text-muted">Please fill in the requested information</small></p>
            <form action="" method="POST" class="formulario">
                
                    
                        <label for="">Fluor</label>
                        <input type="text">
                   
                    
                        <label for="">Cloro</label>
                        <input type="text">
                   
                        <label for="">Nitrogeno</label>
                        <input type="text">
                   
                        <label for="">Azufre</label>
                        <input type="text">
                   
                        <label for="">Peso Molecular (g/mol)</label>
                        <input type="text">
                  
                    
                    <div class="form-group my-3">
                        <select name="idCompuesto">
                            <option>Seleccionar Compuesto</option>
                            
                            <option th:each="compuesto: ${compuestos}"
                                    th:value="${compuesto.id}"
                                    th:text="${compuesto.nombre}" />
                            
                        </select>
                    
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
                
             
                
            </form>
        </div>
       
    </div>
   </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>